body {
    width: 380px;
    margin: auto;
}
#container-first {
    text-align: center;
    background-color: rgb(159, 214, 214);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
}
#container-login {
    margin: auto;
    padding: 10px;
    width: 380px;
    text-align: center;
}